<!DOCTYPE html>
<html>
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 50%;
        }

        tr:nth-of-type(odd) {
            background: #eee;
        }

        th {
            background: #3498db;
            color: white;
            font-weight: bold;
        }

        td, th {
            padding: 10px;
            border: 1px solid #ccc;
            text-align: left;
            font-size: 18px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

        #table-wrapper {
            position: relative;
        }

        #table-scroll {
            height: 450px;
            overflow: auto;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    @{
        ViewData["Title"] = "Manage your groups";
    }


    <table align="center">

        <tr>


            <th>  <label>Groups</label></th>
            <th></th>



        </tr>
        <tr>


            <td>  <label class="col-md-2 control-label">Create_Groups</label></td>
            <td> <a class="btn btn-default" href="@Url.Action("AddGroup")">Create</a></td>


        </tr>


        <tr>


            <td>  <label class="col-md-2 control-label">Enter_New_Group</label></td>
            <td> <a class="btn btn-default" href="@Url.Action("InsertGroup")">Enter</a></td>


        </tr>

        <tr>


            <td>  <label class="col-md-2 control-label">Leave</label></td>
            <td> <a class="btn btn-default" href="@Url.Action("LeaveGroup")">Leave</a></td>


        </tr>

        <tr>


            <td>  <label class="col-md-2 control-label">View_All_Groups</label></td>
            <td> <a class="btn btn-default" href="@Url.Action("ViewAllGroups")">View</a></td>


        </tr>


        <tr>


            <td>  <label class="col-md-2 control-label">View_Your_Groups</label></td>
            <td> <a class="btn btn-default" href="@Url.Action("ViewYourGroups")">View</a></td>


        </tr>

    </table>
