@*




*@
<!DOCTYPE html>
<html>
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
            
        }

        tr:nth-of-type(odd) { 
    background: #eee; 
    }
        th { 
    background: #3498db; 
    color: white; 
    font-weight: bold; 
    }

        td, th {
        padding: 10px; 
        border: 1px solid #ccc; 
        text-align: left; 
        font-size: 18px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
        #table-wrapper {
  position:relative;
}
#table-scroll {
  height:450px;
  overflow:auto;  
  margin-top:20px;
}


    </style>
</head>
<body>
    @model Storage
    @{
        ViewData["Title"] = "Email History";
    }


    <div id="table-wrapper">
        <div id="table-scroll">
            <table>
                <tr>


                    <th>  <label asp-for="mail[0].Id" class="col-md-2 control-label">Nr.</label></th>
                    <th>  <label asp-for="mail[0].From" class="col-md-2 control-label">From</label></th>


                    <th> <label asp-for="mail[0].Subject" class="col-md-2 control-label">Subject</label> </th>

                    <th>  <label asp-for="mail[0].EmailDate" class="col-md-2 control-label">Date</label> </th>

                    <th>  <label  class="col-md-2 control-label"></label> </th>

                </tr>

                @for (int i = 0; i < Model.size; i++)
            {
                    <tr>

                        <td>  <label asp-for="mail[i].Id" class="col-md-2 control-label">@Model.mail[i].Id</label> </td>
                        <td>   <label asp-for="mail[i].From" class="col-md-2 control-label">@Model.mail[i].From</label> </td>


                        <td>  <label asp-for="mail[i].Subject" class="col-md-2 control-label"><a href="@Url.Action("MailView", new { from = @Model.mail[i].From,date = @Model.mail[i].EmailDate, subject = @Model.mail[i].Subject,message=Model.mail[i].Message })">@Model.mail[i].Subject</a></label> </td>


                        <td>  <label asp-for="mail[i].EmailDate" class="col-md-2 control-label">@Model.mail[i].EmailDate</label> </td>

                        <td> <a class="btn btn-default" href="@Url.Action("DeleteMail", new { from = @Model.mail[i].From,to=@Model.mail[i].To, subject = @Model.mail[i].Subject, message = Model.mail[i].Message })">Delete</a> </td>
                    </tr>
                }

            </table>
            </div>
        </div>
</body>
</html>
